<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/marquee.css"> 
        </head>   
<body>
<h1>Backend</h1>
<p>landing page</p>
</body>
<a href="/">Main Page</a>
<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>