<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="test">Placeholder</div>
    <script>
        var testDiv = document.getElementById('test');
        testDiv.setAttribute('style', 'color: blue')
        var imagesRequest = new XMLHttpRequest();
        imagesRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var myArr = JSON.parse(this.responseText);
                log(myArr);
                // let responseContent = imagesRequest.responseText;
                // testDiv.innerHTML = responseContent;
                // testDiv.setAttribute('style', 'color: green')
            }
            else {
                testDiv.innerHTML = "There was a problem."
                testDiv.setAttribute('style', 'color: red')
            }
            console.log("Ready State: " + readyState);
            console.log("Status: " + this.status);

        };
        imagesRequest.open("GET", "localhost:8091/images-data", true);
        imagesRequest.send();

        function log(data) {
            console.log(data);
        }
    </script>
</body>


</html>