<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="/public/css/style.css"> -->
</head>

<body>
    <div id="test">Placeholder</div>
    <script>
        var testDiv = document.getElementById('test');
        testDiv.setAttribute('style', 'color: blue')
        var imagesRequest = new XMLHttpRequest();
        imagesRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log("Ready state: " + this.readyState)
                console.log("Status: " + this.status)
                var myArr = this.responseText;
                log(myArr);
                let responseContent = imagesRequest.responseText;
                testDiv.innerHTML = responseContent;
                testDiv.setAttribute('style', 'color: green')
            }
            else {
                console.log("Status: " + this.status)
                testDiv.innerHTML = "There was a problem."
                testDiv.setAttribute('style', 'color: red')
            }
        };
        imagesRequest.open("GET", "/images-data", true);
        imagesRequest.send();

        function log(data) {
            console.log(data);
        }
    </script>
</body>


</html>