<!DOCTYPE html>
<html>
<title id="main-page-title"> | </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/google-lato.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/marquee.css">
<link rel="stylesheet" type="text/css" href="css/custom-css.css">

<!-- Preload splash carousel images -->

<!-- <script type="text/javascript" src="https://www.bandhelper.com/schedule/widget/23856"></script> -->

<!-- Allow Jquery -->
<!-- Required for Song Scrolling-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>

<style>
  body {font-family: "Lato", sans-serif}
.mySlides {display: none}

</style>

<body>
  <div id="top-container" >

    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)"
          onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
        <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SHOWS</a>
        <a href="#songs" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SONGS</a>
        <!-- <a href="#press" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PRESS KIT</a> -->
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
        <!-- <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div> -->
        <!-- <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a> -->
      </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
      <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
      <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SHOWS</a>
      <a href="#songs" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SONGS</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
      <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a> -->
    </div>

    <div id="content-container" class="w3-content" style="max-width:2000px;margin-top:46px">
      <!-- Page content -->
      
      <!-- Automatic Slideshow Images -->
      <div id="slides-container" ></div>

        <!-- The Band Section -->
        <div class="w3-container w3-content w3-center w3-padding-64 " style="max-width:800px" id="band">
          <h2 id="band-name-header" class="w3-wide">band name</h2>
          <p id="band-description-subheader" class="w3-opacity"><i>short description</i></p>
          <p id="band-blurb" class="w3-justify">blurb</p>
          <div id="band-roster" class="w3-row w3-padding-32">
          </div>
        </div>
        <script src="/controllers/band.js"></script>
        <script src="/controllers/band-members.js"></script>

        <!-- The Shows Section -->
        <div class="w3-black " id="tour">
          <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 id="shows-header" class="w3-wide w3-center">shows-header</h2>
            <p id="shows-blurb" class="w3-opacity w3-center"><i>shows-blurb</i></p><br>
            <ul id="shows-by-month" class="w3-ul w3-border w3-white w3-text-grey">
            </ul>
            <div id="scheduled-shows" class="w3-row-padding w3-padding-32" style="margin:0 -16px">
            </div>
          </div>
        </div>
        <script src="/controllers/shows.js"></script>

        <!-- Add Google Maps -->

        <!-- The Songs Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="songs">
          <h2 id="songs-header" class="w3-wide">header</h2>
          <p id="songs-blurb" class="w3-justify">blurb</p>
          <div id="songs-lists" class="w3-row w3-padding-32">

            <div class="w3-third 'slider'">
              <div class="song-swimlane"></div>
            </div>

            <div class="w3-third 'slider'">
              <div class="song-swimlane"></div>
            </div>

            <div class="w3-third 'slider'">
              <div class="song-swimlane"></div>
            </div>
          </div>
        </div>
        <script src="/controllers/songs.js"></script>

        <!-- Ticket Modal -->
        <div id="ticketModal" class="w3-modal">
          <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal w3-center w3-padding-32">
              <span onclick="document.getElementById('ticketModal').style.display='none'" class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
              <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Request a Song</h2>
            </header>
            <div class="w3-container">
              <br> <!-- <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p> -->
              <input class="w3-input w3-border" type="text" placeholder="Song Name?">
              <!-- <p><label><i class="fa fa-user"></i> Send To</label></p> -->
              <input class="w3-input w3-border" type="text" placeholder="As performed by?">
              <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">Tip the Band? <i class="fa fa-check"></i></button>
              <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close
                <i class="fa fa-remove"></i></button>
              <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
            </div>
          </div>
        </div>

        <!-- The Contact Section -->
        <div id="contact" class="w3-container w3-content w3-padding-64 w3-black" style="max-width:100%" id="contact">
          <script src="/controllers/contact.js" type="text/javascript"></script>
        </div>
          
          <!-- Audio Player -->
        <audio id="myAudio" autoplay>
          <!-- <source id="song-playing" type="audio/mpeg" > -->
          Your browser does not support the audio element.
        </audio>

        <div class="w3-bottom">
          <div class="w3-container">
          <button id="play-button" type="button" style="opacity: 0.75" class="w3-button w3-black w3-round pulse-size one-spin transport-button">PLAY</button>
          <button id="pause-button" type="button" style="opacity: 0.75" class="w3-button w3-black w3-round w3-right transport-button">PAUSE</button>
        </div>
        </div>
        <script src="controllers/audio-player.js" type="text/javascript"></script>
        <!-- End Page Content -->

        <!-- Footer -->
        <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
          <!-- <i class="fa fa-soundcloud w3-hover-opacity"></i> -->
         <i class="fa fa-facebook w3-hover-opacity" href="https://www.facebook.com/Common-Ground-BC-Cover-Band-432747817553638"></i>
          <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>

    </div>

    <script src="/controllers/slideshow.js" type="text/javascript"></script>

    <script>

      // Used to toggle the menu on small screens when clicking on the menu button
      function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }

      // When the user clicks anywhere outside of the modal, close it
      var modal = document.getElementById('ticketModal');
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      // parseData(document.body);
    </script>


  </div>
  </div>
</body>

</html>