<!DOCTYPE html>
<html>
<title id="slideshow-backend-title"> | </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/google-lato.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/custom-css.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />
<link rel="stylesheet" href="css/modal-form.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/custom-table.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://foliotek.github.io/Croppie/croppie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.min.js"></script>

<body>
  <div class="w3-content" style="max-width:2000px;margin-top:46px;overflow-x:auto">
    <table id="slide-photos" class="table">
      <tr>
        <th>Photo</th>
        <th>Display?</th>
        <th>Resolution</th>
        <th>Edit</th>
      </tr>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width:100%">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">
          Drag and Zoom to Crop Photo
          </h4>
        </div>

        <div class="modal-body">
          <div id="upload-demo" class="center-block">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
        </div>
      </div>
    </div>
  </div>

  <!--Use ajax to get all the slide images as items in a javascript script
  for every returned image, run the croppie-embed.js script -->
  <script>
    var slidesRequest = new XMLHttpRequest();
    slidesRequest.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var responseContent = this.content;
        var jsonObject = JSON.parse(this.responseText);
        const imageObjects = jsonObject.images;
        for (i = 0; i < imageObjects.length; i++) {
          var imageObject = imageObjects[i];
          const imageUrl = imageObject.source;
          var wrapperDiv = document.createElement('tr');

          //Photo cell
          var photoDiv = document.createElement('td');
          var slideSourceImage = document.createElement('img');
          slideSourceImage.setAttribute('class', "w3-image");
          slideSourceImage.style.maxHeight = '100%'
          slideSourceImage.style.maxWidth = '400px';
          slideSourceImage.style.verticalAlign = 'center';
          imageId = 'item-img-output-' + i;
          slideSourceImage.setAttribute('id', imageId);
          slideSourceImage.setAttribute('src', imageUrl);
          photoDiv.appendChild(slideSourceImage);
          wrapperDiv.appendChild(photoDiv);

          //Active Status Cell
          var activeDiv = document.createElement('td');
          var activeStatus = document.createElement('div');
          activeStatus.innerHTML = imageObject.display;
          activeDiv.appendChild(activeStatus);
          wrapperDiv.appendChild(activeDiv);

          //Resolution cell
          const resolution = imageSize(slideSourceImage);
          const resDiv = document.createElement('td');
          const resReport = document.createElement('div');
          resReport.innerHTML = resolution;
          resDiv.appendChild(resReport);
          wrapperDiv.appendChild(resDiv);

          //Edit button cell
          const buttonName = "photoButton" + i;
          var editButtonDiv = document.createElement('td');
          var editButton = document.createElement('BUTTON');
          editButton.innerHTML = "Edit";
          editButton.setAttribute('id', buttonName)
          const functionString = "modalPop(" + imageUrl + ")"

          editButton.onclick = function () { modalPop(imageUrl) };
          editButton.className = "w3-button w3-green";
          editButtonDiv.appendChild(editButton);
          wrapperDiv.appendChild(editButtonDiv);
          var container_block = document.getElementById('slide-photos');
          container_block.appendChild(wrapperDiv);
        }
      }
    };
    slidesRequest.open("GET", "/controllers/slideshow.json", true);
    slidesRequest.send();
  </script>

  <script>
    var sizeFactor = 20;
    var boundaryPadding = 100;
    var viewPortWidth = 16 * sizeFactor;
    var viewPortHeight = 9 * sizeFactor;
    var tempFilename;

    $("#cropImagePop").on('hidden.bs.modal', function () {
      $('#upload-demo').empty();
      //$('.croppie-container').remove();
    });

    function modalPop(imgUrl, imageId) {
      var imageTargetId = "#" + imageId;
      $('.upload-demo').addClass('ready');
      $('#cropImagePop').modal('show');
      $("#cropImagePop").on('shown.bs.modal', function () {
        $uploadCrop.croppie('bind', {
          url: imgUrl
        });
      });

      var iId = "upload-demo";
      const iIdTag = "#" + iId;
      var boundaryPadding = 100;
      var viewPortWidth = 380;
      var viewPortHeight = 216;
      $uploadCrop = $(iIdTag).croppie({
        enforceBoundary: true,
        enableOrientation: true,
        showZoomer: true,
        enableExif: true,
        boundary: {
          width: viewPortWidth + boundaryPadding,
          height: viewPortHeight + boundaryPadding
        },
        viewport: {
          width: viewPortWidth,
          height: viewPortHeight,
        }
      });

      $uploadCrop.croppie('bind', {
        url: imgUrl
      })
    };

    $('.item-img').on('change', function () {
      iId = $(this).data('id');
      tempFilename = $(this).val();
      $('#cancelCropBtn').data('id', iId)
    });

    $('#cropImageBtn').on('click', function (ev) {
      $uploadCrop.croppie('result', {
        type: 'base64',
        format: 'jpeg',
        size: { width: viewPortWidth, height: viewPortHeight }
      }).then(function (resp, imageTargetId) {
        $(imageTargetId).attr('src', resp);
        $uploadCrop.croppie('destroy');
        $('#cropImagePop').modal('hide');
      });
    });
  </script>
  
  <script>
    function imageSize(element) {
      var width = element.naturalWidth;
      var height = element.naturalHeight;
      var resString = width + " x " + height;
      return resString;
    }
  </script>
  
  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>
  </body>
  
  </html>