body {font-family: "Lato", sans-serif}
table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    /* height: 200px; */
}