/*Overide Carousel Aspect Ratio*/
.img {
    object-fit: cover;
    overflow: hidden;
        }

        .w3-bar {
            z-index: 500 !important;
        }

.container {
    margin: 0.75em auto;
    overflow: hidden;
    /*
    position: relative;
    box-sizing: border-box;  */
    height: 5vh;
}

.song-container {
    overflow: hidden;
    margin-top: 0;
}

.songs-lists {
    padding-top: 0;
}

.song-swimlane{
    overflow: hidden;
}

.genre-header {
    margin-top: 1vh;
    margin-bottom: 0;
    text-transform: capitalize;
    text-decoration: underline;
    text-emphasis: strong;
}

.mySlides {
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}
/*Override pause when hovering*/
.marquee:hover {
    animation-play-state: running;
}

/* Override space at the top of scrolling area */
@keyframes marquee {
    0%   { top:   0em }
    100% { top: -19em }
}

/*replace the above with this:
http://jsfiddle.net/roine/TCJT4/
http://jsfiddle.net/etj74mnh/
*/

.default-position{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.slider{
    width:100%;
    overflow:hidden;
    position:relative;
    margin:0;
}

.slider-edge{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:block;
    content:'';
    background:linear-gradient( rgba(255,0,0,0), rgba(255,0,0,0), white); 
    z-index:100;
}

.slider-ul{
    position:relative;
    overflow:hidden;
    height:50%;
    margin:0;
}

.slider-li{
    position:absolute;
    list-style:none;
    display:block;
    padding:0 50px;
}

.float-center {        
    margin-left:auto;
    margin-right:auto;
    display: table;
  }

.slideContainer {
    overflow: hidden;
}

.songlist-container {
    overflow: hidden;

    text-align: center;
    position: relative;
}

.fader {
    background-image: linear-gradient(white, rgba(255,255,255,0));
    z-index: 0.5;
    position: absolute;
    height: 1em;
    width: 100%;
    top: 0px;
}

.bottom-fader {
    background-image: linear-gradient(rgba(255,255,255,0), white);
    z-index: 0.5;
    position: absolute;
    height: 1em;
    width: 100%;
    bottom: -1px;
}

.genre-song-marquee {
    overflow: hidden;
    height: 10em;
}

.genre-song-swimlane {
    overflow: hidden;
    height: 30em;
}

.minor-marquee {
    padding-bottom: 0.5em;
}

.slider{
    width:100%;
    overflow:hidden;
    position:relative;
    margin:0;
    background-color:rgb(209,206,255);
    text-align: center;
    vertical-align: center;
}
.edge{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
    width:100%;
    display:block;
}

ul {

    overflow:hidden;
    /* height:150%; */
    margin:0;
    padding-left: 0;
}
li {
    list-style:none;
    display:block;
    padding:0.25vh 0px;

    text-align: center;
}